<?xml version="1.0" encoding="UTF-8"?>
<web-app
  version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <env-entry>
    <description>Настройка БД для prisma</description>
    <env-entry-name>DATABASE_URL</env-entry-name>
    <env-entry-type>java.net.URL</env-entry-type>
    <env-entry-value>${apps.autocatalogs.db_user}:${apps.autocatalogs.db_PASSWORD}@${apps.autocatalogs.db}</env-entry-value>
  </env-entry>
  <resource-env-ref>
    <description>База данных для загрузки</description>
    <resource-env-ref-name>.apps.autocatalogs.db</resource-env-ref-name>
    <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
  <env-entry>
    <description>Пользователь БД</description>
    <env-entry-name>apps.autocatalogs.db_user</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>autocatalogs</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Пароль БД</description>
    <env-entry-name>apps.autocatalogs.db_PASSWORD</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Сертификат приложения</description>
    <env-entry-name>apps.autocatalogs.certfile</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/etc/ssl/private/autocatalogs.pem</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Пароль сертификата</description>
    <env-entry-name>apps.autocatalogs.cert_PASSWORD</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Ссылка на avitocatalogs</description>
    <env-entry-name>apps.autocatalogs.avitocatalogs_url</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>https://autoload.avito.ru/format/Autocatalog.xml</env-entry-value>
  </env-entry>
  <resource-env-ref>
    <description>Прокси ресурс</description>
    <resource-env-ref-name>.internet.proxy.https_apps</resource-env-ref-name>
    <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
  <env-entry>
    <description>Включение заглушек</description>
    <env-entry-name>apps.autocatalogs.mocks_enabled</env-entry-name>
    <env-entry-type>java.lang.Boolean</env-entry-type>
    <env-entry-value>false</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Путь до тестового ответа Авито</description>
    <env-entry-name>apps.autocatalogs.avitocatalogs_file</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

</web-app>
